<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/conf">Configuration</a></li>
                        <li class="breadcrumb-item" aria-current="page">Color</li>
                    </ol>
                </nav>
                <!-- <select id="languages" name="languages" multiple>
                </select> -->
                <form class="row g-3" method="Post" action="">
                    <select id="languages" name="languages" multiple>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                        <option value="5">Five</option>
                        <option value="6">Six</option>
                        <option value="7">Seven</option>
                        <option value="8">Eight</option>
                        <option value="9">Nine</option>
                        <option value="10">Ten</option>
                    </select>

                    <script src="https://code.jquery.com/jquery-3.6.0.js"
                        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
                    </script>
                    <script src="/content/js/jquery.multi-select.min.js"></script>
                    <script>
                        $("#languages").multiSelect();
                    </script>
                </form>
                <%- include('../layout/_footerAfterLogin'); %>