<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Configuration</li>
                    </ol>
                </nav>
                <h1 class="h2">Configuration</h1>
                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Header Config</h5>
                            <div class="card-body">
                                <p class="card-text"><a href="/conf/header">Header Details</a></p>
                                <p class="card-text small text-warning">Where update header details</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
                        <div class="card">
                            <h5 class="card-header">Color Config</h5>
                            <div class="card-body">
                                <p class="card-text"><a href="/conf/color">Color Details</a></p>
                                <p class="card-text small text-success">Where choose your color</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
                        <div class="card">
                            <h5 class="card-header">Time Scheduler</h5>
                            <div class="card-body">
                                <p class="card-text"><a href="/conf/header">Scheduler Details</a></p>
                                <p class="card-text small text-info">Where set your scheduler</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
                        <div class="card">
                            <h5 class="card-header">User Config</h5>
                            <div class="card-body">
                                <p class="card-text"><a href="/user/list">User Details</a></p>
                                <p class="card-text small text-danger">Where find your user</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
                        <div class="card">
                            <h5 class="card-header">Role Config</h5>
                            <div class="card-body">
                                <p class="card-text"><a href="/conf/role">Role Details</a></p>
                                <p class="card-text small text-success">Where check system roles</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-4">
                        <div class="card">
                            <h5 class="card-header">Table Config</h5>
                            <div class="card-body">
                                <p class="card-text"><a href="/table">Table Details</a></p>
                                <p class="card-text small text-primary">Where get your data</p>
                            </div>
                        </div>
                    </div>

                </div>
                <%- include('../layout/_footerAfterLogin'); %>