<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/conf">Configuration</a></li>
                        <li class="breadcrumb-item" aria-current="page">Role</li>
                    </ol>
                </nav>

                <%if(roles != null && roles.length > 0) { %>
                <%roles.forEach(function(role,index){%>
                <div class="col-md-3">
                    <label for="<%=role.roleId%>" class="form-label"><%=role.roleId%></label>
                    <label for="<%=role.roleName%>" class="form-label"><%=role.roleName%></label>
                </div>

                <%})%>

                <%} else  { %>
                <h4 class=" text-center alert alert-info">No Roles Found</h4>
                <%}%>
                    
            
                <%- include('../layout/_footerAfterLogin'); %>