<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/conf">Configuration</a></li>
                        <li class="breadcrumb-item" aria-current="page">Header</li>
                    </ol>
                </nav>
                <form class="row g-3" method="Post" action="">
                    <%if(headers != null && headers.length > 0) { %>
                    <%headers.forEach(function(header,index){%>
                    <div class="col-md-3">
                        <label for="<%=header.headerName%>" class="form-label"><%=header.headerName%></label>

                        <input type="text" class="form-control" tabindex="index" name="<%=header.headerName%>"
                            value="<%=header.headerValue%>" maxlength="20">
                    </div>

                    <%})%>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <%} else  { %>
                    <h4 class=" text-center alert alert-info">No Header Data Found</h4>
                    <%}%>
                    
                </form>
                <%- include('../layout/_footerAfterLogin'); %>