#footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
}

    #footer .credits {
        padding-top: 5px;
        font-size: 13px;
    }

        #footer .credits a {
            color: #3ac162;
            transition: 0.3s;
        }

            #footer .credits a:hover {
                color: #5fcf80;
            }

    #footer .socialmedia a {
        font-size: 18px;
        display: inline-block;
        background: #5fcf80;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }

        #footer .socialmedia a:hover {
            background: #3ac162;
            color: #fff;
            text-decoration: none;
        }
