.card {
  border: none;
  height: 320px;
  margin-top: 90px;
  background: transparent;
}

.forms-inputs {
  position: relative;
}

.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 10px;
}

.forms-inputs input {
  height: 50px;
  border: 2px solid #eee;
}

.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000;
}

.btn {
  height: 50px;
}

.bxs-badge-check {
  font-size: 90px;
}

.red {
  color: red;
}

col-md-6 {
  padding: 0;
}

.img {
  width: 100%;
  height: 450px;
}

.login-row {
  margin-top: 28px;
  margin-bottom: 20px;
  background: url("../img/login1.jpg") center;
  background-size: cover;
}
