.userForm .card {
  border: none;
  height: 600px;
  margin-top: 90px;
  background: transparent;
}
.userForm .card form {
  background-color: #fff;
  padding: 30px;
}

.userForm .forms-inputs {
  position: relative;
}

.userForm .forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 10px;
}

.userForm .forms-inputs input {
  height: 50px;
  border: 1px solid #d7d7d7;
  box-shadow: 2px 0 5px 1px #d7d7d7;
  padding: 0 5px;
  font-size: 14px;
}

.userForm .forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000;
}

.userForm .btn {
  height: 50px;
}

.userForm .bxs-badge-check {
  font-size: 90px;
}

.userForm .red {
  color: red;
}

.userForm col-md-6 {
  padding: 0;
}

.userForm .img {
  width: 100%;
  height: 580px;
}

.userForm .login-row {
  margin-top: 28px;
  margin-bottom: 20px;
  background: url("../img/login1.jpg") center;
  background-size: cover;
}
