.main-div {
	width: 45%;
	margin: 0 auto;
	font-family: Calibri
}

.container-div {
	font-size: 1.17em;
}

.fantasy-font {
	font-family: fantasy;
}

.item-div {
	border-radius: 25px;
	border: 2px solid black;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.list-tbl {
	width: 100%;
	height: 210px;
}


.item {
	margin-bottom: 18px;
}

.item-rate {
	font-weight: 200;
	font-size: 15px;
	font-style: italic;
	color: blue;
}

.add-btn {
	background-color: grey;
}

.add-btn:hover {
	background-color: rgb(136, 136, 216);
}

.content-header {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 0px;
}

.center {
	text-align: center;
}

.checkout-btn {
	width: 25%;
	border: 1px solid black;
	color: black;
	background-color: #a29b9b;
	border-radius: 25px;
}

.mr-left {
	margin-left: 0px;
}

.tbl {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

.algn-right {
	text-align: right;
	padding-right: 10px;
}

.pd-right {
	padding-right: 20px;
}

.name-lbl {
	font-weight: 500;
	font-family: inherit;
}

.margin-top {
	margin-top: 10px;
}

.err-msg {
	font-weight: 700;
	font-family: inherit;
	color: red;
}

.hide {
	display: none;
}

.checkout-btn:hover {
	background-color: rgb(136, 136, 216);
}