<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Overview</li>
                    </ol>
                </nav>
                <h1 class="h2">Dashboard</h1>
                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">New Employee</h5>
                            <div class="card-body">
                                <h5 class="card-title">Niki</h5>
                                <p class="card-text">Account activation</p>
                                <p class="card-text text-success">Status: Active</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card">
                            <h5 class="card-header">Pending Request</h5>
                            <div class="card-body">
                                <h5 class="card-title">Glenn</h5>
                                <p class="card-text">Account closure</p>
                                <p class="card-text text-danger">Importance: High</p>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../layout/_footerAfterLogin'); %>