<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">List</li>
                    </ol>
                </nav>
                <div class="d-flex justify-content-between">
                    <h3 class="h2">User List</h3>
                    <% if(role == "admin") {%>
                    <span>
                        <a href="/user/add-user" class="btn btn-secondary">Add User</a>
                    </span>
                    <% } %>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-12 mb-4 mb-lg-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <%if(users != null && users.length > 0) { %>
                                        <thead>
                                            <tr>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col"></th>
                                                <% if(role == "admin") {%> <th scope="col"></th>
                                                <th scope="col"></th>
                                                <% } %>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%users.forEach(function(user,index){
                                                if(user.userName != "admin"){
                                                %>
                                            <tr>
                                                <td><%= user.firstName%></td>
                                                <td><%= user.lastName%></td>
                                                <td><%= user.email %></td>
                                                <td><a href="/user/get/<%= user.id%>" class="btn btn-info">Details</a>
                                                </td>
                                                <% if(role == "admin") {%> <td><a href="/user/edit/<%= user.id%>"
                                                        class="btn btn-warning">Edit</a>
                                                </td>
                                                <td><a href="/user/delete/<%= user.id%>"
                                                        class="btn btn-danger">Delete</a>
                                                </td>
                                                <% } %>
                                            </tr>
                                            <%}})%>
                                            <%
                                                 if(users.length == 1){ %>
                                            <tr>
                                                <td colspan="9">
                                                    <h4 class="text-center alert alert-info">No User Found</h4>
                                                </td>
                                            </tr>
                                            <%   }  %>
                                        </tbody>
                                        <%} 
                                        else { %>
                                        <h4 class="text-center alert alert-info">No User Found</h4>
                                        <%}%>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../layout/_footerAfterLogin'); %>