<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/user/list">List</li></a>
                        <li class="breadcrumb-item" aria-current="page">User</li>
                    </ol>
                </nav>
                <form class="row g-3" method="Post" action="">
                    <%if(user != null) { %>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">User ID</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.id%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.firstName%> <%=user.lastName%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Email Address</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.email%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Contact Number</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.contactNumber%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">User Name</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.userName%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Address</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.address%>">
                        </div>
                    </div>
                    <% if(role == "admin") {%>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Created By</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.createdBy%> At <%=moment(user.createdAt).format('Do MMMM, YYYY')%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label font-weight-bold">Created By</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" tabindex="index"
                                value="<%=user.createdBy%> At <%=moment(user.createdAt).format('Do MMMM, YYYY')%>">
                        </div>
                    </div>
                    <% } %>
                    <%} else  { %>
                    <h4 class=" text-center alert alert-info">No User Found</h4>
                    <%}%>
                </form>
                <%- include('../layout/_footerAfterLogin'); %>