<%- include('../layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/user/list">User</a></li>
                        <li class="breadcrumb-item" aria-current="page">Edit</li>
                    </ol>
                </nav>
                <div class="container login userForm">
                    <div class="row d-flex login-row">
                        <div class="col-md-6 justify-content-center">
                            <div class="card px-5" id="form1">
                                <div class="form-data">
                                    <form name="myform" method="Post" action="">
                                        <%if(user != null) { %>
                                        <div class="forms-inputs mb-4">
                                            <span>First Name</span> <input autocomplete="off" style="width:100%"
                                                type="text" id="firstName" name="firstName"
                                                value="<%= user.firstName %>">
                                        </div>
                                        <div class="forms-inputs mb-4">
                                            <span>Last Name</span> <input autocomplete="off" style="width:100%"
                                                type="text" id="lastName" name="lastName" value="<%= user.lastName %>">
                                        </div>
                                        <div class=" forms-inputs mb-4">
                                            <span>Contact Number</span> <input autocomplete="off" style="width:100%"
                                                type="number" id="contactNumber" name="contactNumber"
                                                value="<%= user.contactNumber %>">
                                        </div>
                                        <div class=" forms-inputs mb-4">
                                            <span>Email</span> <input autocomplete="off" style="width:100%" type="text"
                                                id="email" name="email" value="<%= user.email %>">
                                        </div>
                                        <div class=" forms-inputs mb-4">
                                            <span>Address </span> <input autocomplete="off" style="width:100%"
                                                type="text" id="address" name="address" value="<%= user.address %>">
                                        </div>
                                        <div class=" forms-inputs mb-4">
                                            <span>UserName </span> <input autocomplete="off" style="width:100%"
                                                type="text" id="userName" name="userName" value="<%= user.userName %>">
                                        </div>

                                        <div class=" mb-3" style="margin-top:10px"> <button type="submit"
                                                class="btn btn-dark w-100">Edit</button> </div>
                                        <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <%if(typeof errors !== 'undefined'){%>
                        <div class="col-md-6 justify-content-center d-flex aligns-items-center">
                            <ul class="list-group mt-xl-5">
                                <% errors.forEach(function(error){%>
                                <li class="list-group-item text-danger"><%= error.msg%></li>
                                <%})%>
                            </ul>
                        </div>
                        <% }%>
                    </div>
                </div>
                <%- include('../layout/_footerAfterLogin'); %>
</body>

</html>