  <%- include('layout/_head'); %>

  <body>
    <%- include('layout/_header'); %>
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div class="container position-relative aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <!-- <h2>We are team of talented designers making websites with Bootstrap</h2> -->
        <a href="#" class="btn-get-started">Get Started</a>
      </div>
    </section>
    <%- include('layout/_footer'); %>
  </body>

  </html>