<!DOCTYPE html>
<html lang="en">

<%- include('layout/_head'); %>
<link href="content/css/login.css" rel="stylesheet">
</head>

<body>
    <%- include('layout/_header'); %>
    <div class="container login">
        <div class="row d-flex login-row">
            <div class="col-md-6 justify-content-center">
                <div class="card px-5 py-5" id="form1">
                    <div class="form-data">
                        <%if(typeof error !== 'undefined'){%>
                        <p class="text-light mb-sm-4">
                            <%= error %>
                        </p>
                        <% }%>
                        <form name="myform" method="Post" action="">
                            <div class="forms-inputs mb-4">
                                <span>User Name</span> <input autocomplete="off" style="width:100%" type="text"
                                    id="username" name="username">
                                <div class="red" id="validateEmail"></div>
                            </div>
                            <div class="forms-inputs mb-4">
                                <span>Password</span> <input autocomplete="off" type="password" style="width:100%"
                                    id="password" name="password">
                                <div class="red" id="validatePassword"></div>
                                <!--<div class="invalid-feedback">Password must be 8 character!</div>-->
                            </div>
                            <div class="red" id="invaliduser"></div>
                            <div class="mb-3" style="margin-top:10px"> <button type="submit"
                                    class="btn btn-dark w-100">Login</button> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/_footer'); %>
</body>

</html>