<%- include('./layout/_headAfterLogin'); %>
</head>

<body>
    <%- include('./layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('./layout/_sidebar'); %>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <div class="inner-wrapper">
                    <h2><%=message%></h2>
                </div>
                <%- include('./layout/_footerAfterLogin'); %>