.login-form {
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 45%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  border-style: dashed;
  background-color: antiquewhite;
}

.logo_fill {
  color: rgb(185, 43, 39);
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
}
input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #f44133;
  color: white;
}
#errors {
  text-align: center;
  color: rgb(185, 43, 39);
}
