   </main>
   <!-- Main Page End -->
   <!-- Footer Page Start -->
   <footer class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4" id="footer">
       <span>Copyright © 2022 Mandalorians</span>
       <ul class="nav m-0">
           <li class="nav-item">
               <a class="nav-link text-secondary" aria-current="page" href="#">Privacy Policy</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-secondary" href="#">Terms and conditions</a>
           </li>
           <li class="nav-item">
               <a class="nav-link text-secondary" href="#">Contact</a>
           </li>
       </ul>
   </footer>
   <!-- Footer Page End -->

   </div>
   </div>
   <!-- Main Dashboard End -->

   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
       integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
       integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
   </script>
   <!-- <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <script src="../content/js/chart_script.js"></script> -->
   </body>

   </html>