 <!-- ======= Footer ======= -->
 </main>
 <footer id="footer">
   <div class="container d-md-flex py-4">
     <div class="me-md-auto text-center text-md-start">
       <div class="copyright">
         &copy; Copyright <strong><span>Education Analysis Portal</span></strong>. All Rights Reserved
       </div>
       <div class="credits">
         Designed by <a href="#">Education Analysis Portal</a>
       </div>
     </div>
     <div class="socialmedia text-center text-md-right pt-3 pt-md-0">
       <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
       <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
       <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
       <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
       <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
     </div>
   </div>
 </footer>
 <!-- End Footer -->
 <!-- header JS File -->
 <!-- <script src="content/js/header.js"></script> -->

 <!-- Main Page End -->
 </div>
 </div>
 <!-- Main Dashboard End -->
 <!-- <script src="../content/js/chart_script.js"></script> -->
 </body>

 </html>