       <!-- Header Menu Start -->
       <nav class="navbar navbar-light bg-light p-3">
         <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
           <span class="navbar-brand">
             Symoti Educational Portal Analysis
           </span>
         </div>
         <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
           <nav id="navbar" class="navbar order-last order-lg-0">
             <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/">About Us</a></li>
               <li> <a href="login">Login</a></li>
             </ul>
           </nav>
         </div>
       </nav>
       <!-- Header Menu End -->
       <!-- ======= Header ======= -->
       <!-- <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
          <h1 class="logo me-auto"><a href="">Education Analysis Portal</a></h1>
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/">About Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <a href="login" class="get-started-btn">Login</a>
        </div>
      </header> -->
       <!-- End Header -->