<%- include('../layout/_headAfterLogin'); %>
<link rel="stylesheet" href="/styles/context-menu.css" />
</head>

<body>
    <%- include('../layout/_headerAfterLogin'); %>
    <!-- Main Dashboard Start -->
    <div class="container-fluid">
        <div class="row">
            <%- include('../layout/_sidebar'); %>
            <!-- Main Page Start -->
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/conf">Configuration</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Table</li>
                    </ol>
                </nav>
                <h1 class="h2">Table</h1>
                <input type='hidden' value='' id='txt_id'>
                <ul class='custom-menu'>
                    <li data-action="1">White</li>
                    <li data-action="2">Green</li>
                    <li data-action="3">Yellow</li>
                </ul>
                <select id="languages" name="languages" multiple>
                </select>

                <form id="myform" action="/table" method="post">
                    <input type="hidden" id="tableData" name="tableData" />
                    <a id="submitformbtn" href="#">Submit</a>
                </form>


                <div style="display: none;" id="serverdata" data-test=<%= data %>></div>
                <div id="main"></div>
                <script src="https://code.jquery.com/jquery-3.6.0.js"
                    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
                <script src="/content/js/jquery.multi-select.min.js"></script>
                <script src="/content/js/table.js"></script>
                <%- include('../layout/_footerAfterLogin'); %>